.carousel-section {
  text-align: center;
  margin: 60px auto;
  max-width: 1450px;
  margin-top: 1em;
}

.carousel-container {
  position: relative;
  overflow: hidden;
  border-radius: 16px;
}

.carousel-slide {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: calc(100% * number_of_images) !important;
}

.carousel-slide img {
  width: 100%;
  object-fit:scale-down;
  max-height: 33em;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  background: rgba(0, 0, 0, 0);
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 10;
  border-radius: 50%;
}

.carousel-btn.prev { 
  left: 10px; 
  
}

.carousel-btn.next { 
  right: 10px; 
}

.carousel-label {
  margin-top: 10px;
  color:white
}

.carousel-label h2 {
  font-size: 2.125rem !important;
  letter-spacing: 2px;
  margin-bottom: 5px;
}

.carousel-label span {
  font-size: 1.5rem;
}

