/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100% !important;
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: #000000 !important;
  background-size:cover !important;
  width: 100% !important;
}

::-webkit-scrollbar{
  background-color: transparent !important;
}
::-webkit-scrollbar-track{
  background-color: transparent !important;
} 

::-webkit-scrollbar-thumb{
  background-color: transparent !important;
}
img {
  backface-visibility: hidden;
}

a.dropdown-item:focus {
  background-color:transparent;
}

/* HEADER CUSTOM 
----------------------------------------------------*/

/* Header Custom */


.heading{
  font-size: 1.45em;
  font-weight: 800;
  font-style: oblique;
}

.heading-container{
  justify-content: center;
  align-items: center;
}

/* CUSTOMIZE THE NAVBAR 
--------------------------------------------------- */

/* Navbar Custom */

.cart-container {
  font-size: 1.5rem;
  margin-top: 1em;
}
#cart-count {
  font-size: 0.75rem;
  padding: 0.3em 0.5em;
}

.dropdown-center {
  left: 50% !important;
  transform: translateX(-50%);
}


li{
margin: .15em;
text-align: center;
width: 100% !important;
}

svg{
  align-content: center !important;
}

.navbar-expand-xxl {
  padding: 0 !important; /* Removes padding */ 
  margin: 0 auto !important; /* Centers the navbar */

}

.navbar-brand{
font-weight: 800;
font-size: .75em !important;
text-shadow:rgb(0, 0, 0) 0.01em 0.1em 0.1em;
color: white !important;
}

.navbar-nav .nav-link {
  margin: 0 8em; /* Adds space to both left and right */
  font-size: .99rem !important;
  font-weight: 800;
  text-shadow: black 0.1em .10em .0em;
  color: white !important;
}

.navbar-nav .nav-link:hover {
  color: #ffffff !important; /* Ensures the text color remains white on hover */
}


button{
  z-index: 999 !important; /* Ensures the button is above other content */
}


.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(255, 255, 255)' stroke-width='2' stroke-linecap='round' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important; /* Custom icon */
}

.navbar-toggler {
  border: none !important; /* Removes the border */
}



.collapse{
  background-color: black !important; /* Sets a background color for the collapse */
  text-decoration: underline;
  z-index: 1000 !important; /* Ensures the collapse is above other content */
}

.mycarousel{
  z-index: -1 !important; /* Ensures the carousel is below the navbar */
  position: relative; /* Ensures the carousel is positioned relative to its parent */
}

.navbar .container-fluid {
  display: flex;
  justify-content: center;
}

.navbar-nav .nav-item.dropdown {
  position: relative; /* Ensures the dropdown menu is positioned relative to its parent */
}

.navbar-nav .dropdown-menu {
  left: auto; /* Resets default positioning */
  right: 0; /* Aligns the dropdown with the parent nav item */
}



h1{
  color: rgb(255, 255, 255) !important;
  text-shadow: black 0.05em 0em 0em;
}

.btn{
  background-color: #ffffff6b !important;
  color: white !important;
  box-shadow: 0 2px 4px rgba(10, 10, 10, 9.9); /* subtle shadow */
}



.btn:hover{
box-shadow: 0 4px 8px rgba(10, 10, 10, 9.9); /* subtle shadow */
}


a{
  font-size: .65em !important;
  font-weight: 500 !important;
  color: rgb(0, 0, 0) !important;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
.carouselheading{
  font-size: 1.25em;
  margin: 0em;
}
.carouselspan{
  font-size: .85em;
  color: white !important;
  margin-bottom: .5em;
}

.carouselimage{
  height: 10em !important;
  width: 100% !important;
  object-position: center;
}

.carousel-item{
  margin-top: 1em !important;
}

.carousel-inner {
  position: relative; /* Ensures the carousel is positioned relative to its parent */
  width: 100% !important; /* Ensures the carousel takes the full width of its container */
  height: auto !important; /* Allows the carousel to adjust its height based on content */

}
/* Carousel base class */


/* Since positioning the image, we need to help out the caption */

/*color of the caption on carousel*

/* Declare heights because of positioning of img element */

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
/* rtl:end:ignore */


/* Featurettes
------------------------- */
/*featured images*/
.mainimagecontainer{
  height: 25em !important;
}

.mainimage{
  height: 25em !important;
}

/*featured images*/

.feat2{
  justify-items: center !important;
  margin: .75em;
}

.feat2 .card:hover {
  transform: none !important;
  box-shadow: none !important;
}


.featurette-divider {
  margin: 0rem 0; /* Space out the Bootstrap <hr> more */
  
}

/* Thin out the marketing headings */
/* rtl:begin:remove */


.featurette-heading {
  font-size: 2.125rem !important; /* Change this value to make the heading larger */
  font-style: italic !important;
  font-weight: 900 !important;
  margin: 0em;
}

.featurette p.lead{
  font-size: 1.125rem !important; /* Change this value to make the paragraph text larger */
  font-style: oblique !important;
  font-weight: 400 !important;
  z-index: 999; /* Ensures the text is above other content */
  position: relative; /* Ensures the text is positioned relative to its parent */
}

.row{
  margin-top: 0em !important;
}


/* Apply hover background ONLY to rows NOT inside a .featurette section */
.hover-box:hover {
  background-color: rgba(245, 245, 245, 0.199) !important; /* light gray on hover */
  box-shadow: 0 4px 8px rgba(10, 10, 10, 9.9); /* subtle shadow */
}

.hover-box {
transition: background-color 0.3s ease;
box-shadow: #ffffff;
border: 1px solid #6c757d;
}

.v1{
  background-color: #ffffff; 
  box-shadow: 0 4px 8px rgba(10, 10, 10, 9.9); /* subtle shadow */
}
/* Cancel it inside your shopping section */


.fw.active {
}

.h2, h2 {
    font-size: 1.75em !important;
}

.fw::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-image: url(mob.jpg);
  transform: scaleX(-1);
  z-index: -1;
  opacity: .225;
  transition: opacity 0.3s ease;
}

.fw.active::before {
  opacity: 1;
}

.fw {
  color: #ffffff !important;
  height: auto;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.486) 0.01em 0em 0.5em;
  text-shadow: black 0.05em 0.05em 0.05em;
  margin: .75em;
  margin-bottom: 0em ;
  padding: 1em;
  overflow: hidden;
  transition: height 0.3s ease;
}

#fwContainer{
  font-size: 1.25em !important;
}


.shop{
  background-color: rgb(255, 255, 255); /* light gray on hover */
  box-shadow: 0 4px 8px rgba(10, 10, 10, 9.9); /* subtle shadow */
  border-top: none !important;
  height: auto !important;
  margin-bottom: 0em;
  width: 100% !important;
}

.shopheader{
font-size: 2em !important;
font-weight:900 !important;
font-style: oblique !important; 
margin-left: .5em !important;
}


.see-more-link {
  font-size: 0.4rem;
  color: #000000; /* muted gray color */
  text-decoration: none;
  outline: transparent !important;
  transition: color 0.2s;
  z-index: 1000; /* Ensures the link is above other content */
  position: relative; /* Ensures the link is positioned relative to its parent */
}

.see-more-link:hover {
  color: #000; /* darker on hover */
}

.shop-container{
  margin-top: -1em !important;
}

.shop:hover{
  /*background-color: rgba(245, 245, 245, 0.76); /* light gray on hover */
 /* box-shadow: 0 4px 8px rgba(10, 10, 10, 9.9); /* subtle shadow */
}


.digest{
  background-color: rgb(255, 255, 255); /* light gray on hover */
  box-shadow: 0 4px 8px rgba(10, 10, 10, 9.9); /* subtle shadow */
  text-align: center;
  margin-top: .25em !important;
}


h2{
  font-style: oblique !important;
}

.lead{
  font-size: 1em !important;
  font-style: oblique !important;
  font-weight: 400 !important;
}

.leadhead{
  font-size: 1.75em !important;
  font-style: oblique !important;
  font-weight: 800 !important;
}

.news:hover{
  background-size: cover;
  background-color: rgba(112, 102, 102, 0.288);
}
.news{
  box-shadow: rgba(0, 0, 0, 0.486) 0.01em 0em 0.5em;
  height: 7.5em;
}

.analog{
  box-shadow: rgba(0, 0, 0, 0.486) 0.01em 0em 0.5em;
  height: 7.5em;
}

.analog:hover{
  background-size: cover;
  background-color: rgba(112, 102, 102, 0.288);
}

.see-more-link {
  font-size: 0.4rem;
  color: #000000; /* muted gray color */
  text-decoration: none;
  transition: color 0.2s;
  outline: auto;
  z-index: 1000; /* Ensures the link is above other content */
  position: relative; /* Ensures the link is positioned relative to its parent */
}

.see-more-link:hover {
  color: #000; /* darker on hover */
  text-decoration: underline;
}

form{
  max-width: auto;
  position: relative;
  margin-bottom: 1em;
  margin-top: 1.5em ;
  z-index: 1000; /* Ensures the form is above other content */
}

.leadhead1{
  font-size: 1.25em !important;
  font-style: oblique !important;
  font-weight: 800 !important;
  margin-bottom: 0em;
  position: relative; /* Ensures the text is positioned relative to its parent */
  top: .55em;
}

form input[type="email"] {
  width: 100%;
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: .65em;
  max-height: fit-content;
}
 form button {
  background-color: #ffffff6b !important;
  color: white !important;
  border: none;
  padding: 0.5em 1em !important;
  font-size: .65em !important;
  cursor: pointer;
  text-align: center !important;
  max-height: fit-content;
    margin-right: .75em !important;

 }

.newslettertext{
  position: relative;
  color: rgb(255, 255, 255) !important;
  width: 100% !important;
}

.newsletter{
  height: auto;
  background-color: #000;
  width: 100% !important;
}

.container{
  max-width: 100% !important;
  margin-top: .75em !important;
  padding-left: .75em !important;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  flex-wrap: wrap;
  background-color: white;
}

.footer-column {
  flex: 1;
  min-width: 150px;
  margin: 0 20px;
}

.footer-container h2 {
  font-size: 1em !important;
  margin-bottom: 10px;
}

.footer-list-container {
  padding: 0;
  margin: 0;
}

.footer-list-container li {
  list-style: none;
  margin-bottom: 8px;
  font-size: 0.95em;
}


.service:hover{
  color: #000000; /* muted gray color */
  text-decoration: underline;
  transition: color 0.2s;
}




/* F244 News CSS
-------------------------------------------------- */


.lookbookheading{
  font-weight: 700 !important;
  font-style: oblique !important;
    color: white !important;

}

.lookbooktitle{
  font-size: 1.25em !important;
  color: white !important;
  font-weight: 500 !important;
}

.fwcarousel img{
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}


